<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plex C-Store</key>
	<dict>
		<key>GoogleMapsUrl</key>
		<string>https://goo.gl/maps/mThNekrbdMyhT6r59</string>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Thursday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Friday</string>
				<key>EndingDayOfWeek</key>
				<string>Saturday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Sunday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>1000</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Fran&apos;s Café at Willard</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Monday</string>
				<key>Schedule</key>
				<dict>
					<key>0100</key>
					<string>Open</string>
					<key>1900</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Tuesday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0100</key>
					<string>Open</string>
					<key>0830</key>
					<string>Closed</string>
					<key>1430</key>
					<string>Open</string>
					<key>1900</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Kresge Café</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Thursday</string>
				<key>Schedule</key>
				<dict>
					<key>0830</key>
					<string>Closed</string>
					<key>1630</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Friday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0830</key>
					<string>Closed</string>
					<key>1500</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Café Bergson at Main</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Monday</string>
				<key>Schedule</key>
				<dict>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Tuesday</string>
				<key>EndingDayOfWeek</key>
				<string>Thursday</string>
				<key>Schedule</key>
				<dict>
					<key>0830</key>
					<string>Closed</string>
					<key>2230</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Friday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0830</key>
					<string>Closed</string>
					<key>1530</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Saturday</string>
				<key>Schedule</key>
				<dict>
					<key>1030</key>
					<string>Closed</string>
					<key>1530</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Sunday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>1130</key>
					<string>Closed</string>
					<key>2230</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Tech Express</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Thursday</string>
				<key>Schedule</key>
				<dict>
					<key>0800</key>
					<string>Closed</string>
					<key>1900</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Friday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0800</key>
					<string>Closed</string>
					<key>1500</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Café Coralie at Pancoe</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0800</key>
					<string>Closed</string>
					<key>1500</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Cohen Commons</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>1130</key>
					<string>Closed</string>
					<key>1400</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Lisa&apos;s Café at Slivka</key>
	<dict>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0100</key>
					<string>Open</string>
					<key>1000</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>0100</key>
					<string>Open</string>
					<key>1100</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
