<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Allison</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1000</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Hinman</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Plex East</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1000</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Plex West</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1000</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
	</array>
	<key>Sargent</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2330</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2330</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
