<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Allison</key>
	<dict>
		<key>LocationId</key>
		<string>5b33ae291178e909d807593d</string>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Saturday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Sunday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>1000</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Hinman</key>
	<dict>
		<key>LocationId</key>
		<string>5b8fdc2c1178e90ec1a3c097</string>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Plex East</key>
	<dict>
		<key>LocationId</key>
		<string>5bae7ee9f3eeb60cb4f8f3af</string>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Saturday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Sunday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>1000</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Plex West</key>
	<dict>
		<key>LocationId</key>
		<string>5bae7de3f3eeb60c7d3854ba</string>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Thursday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Friday</string>
				<key>EndingDayOfWeek</key>
				<string>Saturday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Sunday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>1000</key>
					<string>Closed</string>
					<key>2400</key>
					<string>Open</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Sargent</key>
	<dict>
		<key>LocationId</key>
		<string>5b33ae291178e909d807593e</string>
		<key>Schedules</key>
		<array>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Monday</string>
				<key>EndingDayOfWeek</key>
				<string>Friday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2330</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Saturday</string>
				<key>EndingDayOfWeek</key>
				<string>Saturday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2000</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
			<dict>
				<key>StartingDayOfWeek</key>
				<string>Sunday</string>
				<key>EndingDayOfWeek</key>
				<string>Sunday</string>
				<key>Schedule</key>
				<dict>
					<key>0700</key>
					<string>Closed</string>
					<key>2330</key>
					<string>Open</string>
					<key>2400</key>
					<string>Closed</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
